/*
    HEADER
*/
header{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-top{
    height: 34px;
}

.header-logo{
    padding-top: 5px;
}

.header-down a{
    height: 66px;
}

.nav-left,
.nav-right{
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.nav-right .my-btn{
    height: 50%;
}

.lens{
    height: 25px;
}

.chevron{
    height: 10px;
}

.chevron.hover{
    display: none;
}

.header-down li:hover .chevron.inactive{
    display: none;
}

.header-down li:hover .chevron.hover{
    display: inline;
}
/*
    /HEADER
*/


/*
    JUMBO
*/
.jumbo{
    color: white;
    padding-top: 75px;
}

.jumbo-img{
    background-image: url("../img/img-jumbo/jumbo-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 30vh 0 10vh;
}

.jumbo-txt img{
    width: 75%;
    margin-bottom: 5vh;
}

.jumbo-gallery{
    margin-top: 30px;
}

.jumbo-card:hover{
    transition: all 1s;
    transform: translate(0, -10%);
}

.jumbo-card.active{
    border: 4px solid rgb(11, 94, 215);
    border-radius: 20px;
}
/*
    /JUMBO
*/


/*
    MAIN
*/
section{
    padding: 40px 0;
}

/* SECTION PS5*/
section.ps-five{
    padding-top: 15vh;
}
    /* PS5 titlolo */
.ps-five-title p:first-of-type{
    margin-bottom: -7.5px;
}

    /* PS5 console */
.ps-five-console img{
    width: 100%;
}

    /* PS5 accessori */
.ps-five-hardware{
    border-bottom: 1px solid white;
}
        /* Hover */
.ps-five-hardware img{
    width: 50%;
    filter: grayscale(1);
}
.ps-five-hardware p{
    color: lightgrey;
}
.ps-five-hardware .my-card:hover img{
    transition: all 1s;
    filter: grayscale(0);
}
.ps-five-hardware .my-card:hover p{
    transition: all 1s;
    color: black;
}
        /* Active */
.ps-five-hardware .my-card.active{
    border-bottom: 2px solid rgb(11, 94, 215);
    filter: grayscale(0);
    color: black;
}
.ps-five-hardware .my-card.active img{
    filter: grayscale(0);
}
.ps-five-hardware .my-card.active p{
    color: black;
}

/* SECTION GAMES */
section.games{
    color: white;
}
    /* Parte superiore */
.main-game{
    background-image: url("../img/img-games/it-takes-two-hero-banner-desktop.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 5vh 0;
}
.games-txt{
    margin-bottom: 40px;
}

.games-txt img{
    width: 75%;
    padding: 30px 0;
}
    /* Parte inferiore */
.other-games{
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 40px 0;
}

/* SECTION PS4 */
.ps-four-title i{
    font-size: 12px;
    vertical-align: super;
}

/* SECTION Plus + Now */
/* Sono praticamente uguali, con la differenza
che la prima non ha spazio sopra e sotto. Altre
differenze di colori sono nell'HTML */
.ps-plus .row{
    background-color: rgb(190, 188, 187);
}

.ps-now{
    background-color: rgb(22, 28, 59);
}

.ps-plus img,
.ps-now img{
    width: 50%;
    margin-bottom: 20px;
}

.ps-plus img:only-child,
.ps-now img:only-child{
    width: 100%;
    margin-bottom: 0;
}

.ps-plus button.my-btn{
    background-color: rgb(218, 219, 220);
    border: 3px solid rgb(190, 188, 187);
}

.ps-plus button.my-btn:hover{
    border: 3px solid rgb(199, 197, 197);
}

/* SECTION Store */
.single-discount img{
    border-radius: 0;
}

/* SECTION Social */
.socials .title,
.socials img{
    margin-bottom: 4rem;
}

.socials img{
    width: 75%;
}
/*
    /MAIN
*/


/*
    FOOTER
*/
footer{
    background-color: rgb(0, 67, 156);
}

/* Footer sopra */
footer a{
    color: white;
}

footer ul{
    padding-top: 30px;
}

footer li{
    padding-bottom: 5px;
}

svg{
    width: 150px;
    height: 150px;
}

.footer-logo div:last-child img{
    width: 2.5%;
}

.fa-registered{
    font-size: 10px;
    position: relative;
    top: -20%;
    left: 20%;
}

/* Footer sotto */
.footer-down img{
    width: 20%;
}

.footer-down a{
    text-decoration: underline;
}
/*
    /FOOTER
*/