/*
    HEADER
*/
header{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-top{
    height: 34px;
}

.header-logo{
    padding-top: 5px;
}

.header-down a{
    height: 66px;
}

.nav-left,
.nav-right{
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.nav-right .my-btn{
    height: 50%;
}

.lens{
    height: 25px;
}

.chevron{
    height: 10px;
}
/*
    /HEADER
*/


/*
    JUMBO
*/
.jumbo{
    color: white;
}

.jumbo-txt{
    padding: 20% 0 40px;
}

.jumbo-img{
    background-image: url("img/img-jumbo/jumbo-bg.png");
}

.jumbo img{
    width: 50%;
}
/*
    /JUMBO
*/


/*
    MAIN
*/
/* SECTION */
/*
    /MAIN
*/


/*
    FOOTER
*/
/*
    /FOOTER
*/