/*
    HEADER
*/
.nav-right,
.nav-left{
    justify-content: center;
    align-items: center;
}

.nav-right{
    flex-direction: row-reverse;
}
/*
    /HEADER
*/


/*
    JUMBO
*/
/*
    /JUMBO
*/


/*
    MAIN
*/
/* SECTION */
/*
    /MAIN
*/


/*
    FOOTER
*/
/*
    /FOOTER
*/