/* Generali */
.my-container{
    width: 60%;
    margin: 0 auto;
}

.my-btn{
    padding: 5px 10px;
    color: white;
    border-radius: 17.5px;
}

/* Card piccole */
.jumbo-cards img,
.game-card img,
.single-bundle img,
.single-discount img{
    width: 100%;
    border-radius: 15px;
    margin: 15px;
}

/* Debug */
.debug{background-color: rgba(0, 255, 0, 0.2); border: 1px solid black;}
.h100{
    height: 100px;
}
.h300{
    height: 300px;
}
.h500{
    height: 500px;
}