/* Generali */
.my-container{
    width: 60%;
    margin: 0 auto;
}

.my-btn{
    padding: 5px 10px;
    color: white;
    border-radius: 17.5px;
}

/* .my-btn-white-border:hover{
    border: 3px solid white;
    margin: -6px;
} */

/* Card piccole */
.jumbo-gallery img,
.game-card img,
.single-bundle img,
.single-discount img{
    width: 100%;
    border-radius: 15px;
    margin: 5px;
}

/* Debug */
.debug{background-color: rgba(0, 255, 0, 0.2); border: 1px solid black;}