/* Generali */
.my-container{
    width: 60%;
    margin: 0 auto;
}


/* Bottoni */
.my-btn{
    padding: 5px 10px;
    color: white;
    border-radius: 17.5px;
}
        /* Bordi i hover */
.my-btn-white-border:hover{
    border: 1px solid white;
}
.my-btn-black-border:hover{
    border: 1px solid black;
}
        /* Outline comuni  */
.my-btn.red-outline:hover {
    outline: rgb(187, 45, 59) solid 3px;
}
.my-btn.blue-outline:hover {
    outline: rgb(11, 94, 215) solid 3px;
}
.my-btn.black-outline:hover {
    outline: black solid 3px;
}
.my-btn.white-outline:hover {
    outline: white solid 3px;
}


/* Card piccole */
.jumbo-gallery img,
.game-card img,
.single-bundle img,
.single-discount img{
    width: 100%;
    border-radius: 15px;
    margin: 5px;
}